betfairlightweight==2.20.2
tenacity>=7.0.0,<9.0.1
python-json-logger==2.0.7
requests
betconnect==0.2.1
smart-open>=6,<8

# Tests & Linting
black==24.8.0
coverage
pre-commit

# Documentation
mkdocs
mkdocs-material

# Packaging
build
twine
