betfairlightweight==2.21.0
tenacity>=7.0.0,<8.3.1
python-json-logger==2.0.7
requests
betconnect==0.2.2
smart-open>=6,<8
betdaq-retail==0.1.1

# Tests & Linting
black==25.1.0
coverage
pre-commit

# Documentation
mkdocs
mkdocs-material

# Packaging
build
twine
