betfairlightweight==2.20.4
tenacity>=7.0.0,<8.3.1
python-json-logger==2.0.7
requests
betconnect==0.2.1
smart-open>=6,<8

# Tests & Linting
black==24.10.0
coverage
pre-commit

# Documentation
mkdocs
mkdocs-material

# Packaging
build
twine
